.btn() {
  position   : relative;
  white-space: nowrap;
  outline    : none;
  border     : none;
  cursor     : pointer;
  .button-size(@height-base; @btn-padding-x-base; @btn-padding-y-base; @font-size-base; @border-radius-base);

  &,
  &:active,
  &:focus {
    outline: none;
  }
}

.button-color(@color; @bgColor; @borderColor) {
  color              : @color;
  background-color   : @bgColor;
  border             : 1px solid @borderColor;
  // border-color    : @borderColor;
}


.button-size(@height; @paddingX; @paddingY; @fontSize; @borderRadius) {
  // @paddingX: max((round(((@height - @fontSize * @line-height-base) / 2) * 10) / 10) - @border-width-base,
  //   0);
  padding      : @paddingY @paddingX;
  height       : @height;
  font-size    : @fontSize;
  border-radius: @borderRadius;
}

.btn-types(@color; @bgColor; @borderColor) {
  .button-color(@color, @bgColor, @borderColor);

  &:hover,
  &:focus {
    .button-color(@color, @bgColor, @borderColor)
  }
}