@default: rgb(255, 255, 255);
@primary: rgb(64, 158, 255);
@success: rgb(103, 194, 60);
@warning: rgb(230, 162, 60);
@error: rgb(245, 108, 108);
@info: rgb(144, 147, 153);

@plainDefault: rgba(255, 255, 255, 1);
@plainPrimary: rgba(236, 245, 255, 1);
@plainSuccess: rgb(240, 249, 235);
@plainWarning: rgb(253, 246, 236);
@plainError: rgb(254, 240, 240);
@plainInfo: rgb(244, 244, 245);

@hoverDefault: rgba(64, 160, 255, 0.1);
@hoverPrimary: rgba(64, 160, 255, 0.5);
@hoverSuccess: rgba(103, 194, 60, 0.5);
@hoverWarning: rgba(230, 162, 60, 0.5);
@hoverError: rgba(245, 108, 108, 0.5);
@hoverInfo: rgba(144, 147, 153, 0.5);

@disabledDefault: rgba(255, 255, 255, 0.5);
@disabledPrimary: rgba(64, 160, 255, 0.5);
@disabledSuccess: rgba(103, 194, 60, 0.5);
@disabledWarning: rgba(230, 162, 60, 0.5);
@disabledError: rgba(245, 108, 108, 0.5);
@disabledInfo: rgba(144, 147, 153, 0.5);

@textBlack: #212121;
@textWhite: #fff;
@textBorder: rgb(221, 221, 221);
