@text-white: #fff;
@text-black: #212121;
@text-gray: rgba(160, 161, 162, 1);
@text-border: rgba(224, 224, 230, 1);

@disabled: rgba(239, 239, 242, 1);

@default: rgba(255, 255, 255, 1);
@primary: rgba(32, 128, 240, 1);
@success: rgba(24, 160, 88, 1);
@warning: rgba(252, 176, 64, 1);
@error: rgba(208, 48, 80, 1);

@plainDefault: rgba(224, 224, 230, 1);
@plainInfo: rgba(236, 245, 255, 1);
@plainSuccess: rgba(24, 160, 88, 1);
@plainWarning: rgba(252, 176, 64, 1);
@plainError: rgba(208, 48, 80, 1);

@font-base: 14px;
@font-mini: 12px;
